<div class="jumbotron">
  <h1 class="display-4">[<%= @employee.staff_id %>] <%= @employee.first_name %> <%= @employee.last_name %></h1>
  <p><%= @employee.email %> | <%= @employee.phone %> | RM <%= @employee.annual_salary %> | <%= @employee.rate %> % | <%= @employee.create_date %></p>
</div>

<p class="lead">
    <%= link_to 'Edit', edit_employee_path(@employee), class:"btn btn-primary" %>
<%= link_to '<< Back', employees_path, class:"btn btn-secondary" %>
  </p>
